.About {
    padding: $section-vertical-padding 0;

    .about-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: $section-width;
        margin: auto;

        &:not(:last-child) {
            padding-bottom: 64px;
        }

        .left-column, .right-column {
            width: 46%;
        }
    }
}
