.About {
    padding: 64px 0;

    .about-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: $section-width;
        margin: auto;

        .workshop-photo {
            align-self: center;
            width: 28rem;
            height: auto;
            margin-left: 2rem;
        }
    }
}
