.Header {
    background-color: $color-aqua;

    .logo-compass {
        width: 3rem;
        height: auto;

        @media (min-width: map-get($grid-breakpoints, sm)) {
            display: none;
        }
    }

    .logo-with-icons {
        display: none;
        width: 14rem;
        height: auto;

        @media (min-width: map-get($grid-breakpoints, sm)) {
            display: block;
        }
    }
}
