.Home {
    .Section {
        padding-top: $section-vertical-padding;
        padding-bottom: $section-vertical-padding;
        padding-left: $section-horizontal-padding-xs;
        padding-right: $section-horizontal-padding-xs;
    }

    /* Height */
    ::-webkit-scrollbar {
        height: 2px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: #ebebeb; 
        border-radius: 1px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $color-aqua;
        border-radius: 1px;
    }
}

@include media-breakpoint-down(xs) {
    .Home {
        overflow-x: hidden;
    }
}

@include media-breakpoint-up(sm) {
    .Home {
        .Section {
            padding-left: $section-horizontal-padding-sm;
            padding-right: $section-horizontal-padding-sm;
        }

        /* Height */
        ::-webkit-scrollbar {
            height: 4px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            border-radius: 2px;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            border-radius: 2px;
        }
    }
}

@include media-breakpoint-up(md) {
    .Home {
        .Section {
            padding-left: $section-horizontal-padding-md;
            padding-right: $section-horizontal-padding-md;
        }

        ::-webkit-scrollbar {
            display: none;
        }
    }
}

@include media-breakpoint-up(lg) {
    .Home {
        .Section {
            padding-left: $section-horizontal-padding-lg;
            padding-right: $section-horizontal-padding-lg;
        }
    }
}

// Home Component Styles
@import 'components/Header.scss';
@import 'components/Alerts.scss';
@import 'components/Hero.scss';
@import 'components/About.scss';
@import 'components/GetInvolved.scss';
@import 'components/Speakers.scss';
@import 'components/Leadership.scss';
@import 'components/Sponsors.scss';
@import 'components/Footer.scss';
