.Splash {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
    align-items: center;

    .splash-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .expand-icon {
        position: absolute;
        bottom: 2rem;
        cursor: pointer;
        animation: bobble 1s infinite alternate;
    }

    .logo-with-icons {
        width: 20rem;
        height: auto;
    }
}

@media (min-width: $min-medium-screen) {
    .Splash {
        .splash-body {
            align-items: flex-start;
        }

        .logo-with-icons {
            width: 30rem;
        }
    }
}
