.Splash {
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-aqua;
    color: $color-navy;

    .splash-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .logo-with-icon-group {
            width: 20rem;
            height: auto;
        }
    }
    
    .expand-icon {
        position: absolute;
        bottom: 2rem;
        cursor: pointer;
        animation: bobble 1s infinite alternate;
    }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
    .Splash {
        .splash-body {
            flex-direction: row;

            .logo-with-icon-group {
                width: 30rem;
                margin-right: 4rem;
            }

            .splash-content {
                max-width: 300px;
            }
        }
    }
}
