.Sponsors {
    padding: $section-vertical-padding 0;

    .sponsors-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: $section-width;
        margin: auto;

        .sponsors-header {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .logo-container {
            margin: 2rem;
        }

        .large-logos, .small-logos {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
        }

        .large-logos, .small-logos {
            padding-bottom: 32px;
        }

        .large-logos {
            .logo {
                width: 20rem;
                height: auto;
            }
        }

        .small-logos {
            .logo {
                width: 12rem;
                height: auto;
            }
        }

        .sponsor-contact {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h5 {
                margin-bottom: 1rem;
            }

            .sponsor-cta {
                display: flex;
                flex-direction: row;
                text-decoration: none;
                align-items: center;
                cursor: pointer;

                &:hover {
                    .MdKeyboardArrowRight {
                        fill: white;
                        background-color: #448494;
                        border: 2px solid #448494;
                    }
                }

                a {
                    text-decoration: none;
                    color: #448494;
                }

                p {
                    margin-bottom: 0;
                    margin-right: 8px;
                }
            }
        }
    }

    .MdKeyboardArrowRight {
        fill: #448494;
        border: 2px solid #E2E2E2;
        border-radius: 50%;
        width: 1.5rem;
        height: 1.5rem;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out; /** Chrome & Safari **/
        -moz-transition: all 0.3s ease-in-out; /** Firefox **/
        -o-transition: all 0.3s ease-in-out; /** Opera **/
    }
}
