$color-aqua: #98D6D6;
$color-navy: #0B546F;

$section-width: 960px;

@keyframes bobble {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-1rem);
	}
}

.pill-divider {
	height: 0.5rem;
	width: 4rem;
	margin-bottom: 1.5rem;
	background: $color-aqua;
	border-radius: 0.25rem;
}

// Common Styles
@import '~bootstrap/scss/bootstrap';
@import 'components/common/UnorderedItemList.scss';

// Component Styles
@import 'components/Header.scss';
@import 'components/Hero.scss';
@import 'components/About.scss';
@import 'components/Speakers.scss';
@import 'components/Sponsors.scss';
@import 'components/Footer.scss';

// @import 'components/InvolvementCards.scss';
// @import 'components/Schedule.scss';
