$color-aqua: #98D6D6;
$color-navy: #0B546F;

@keyframes bobble {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-1rem);
	}
}

.App {
	.page-content {
		width: 960px;
		margin: auto;
	}
}

@import '~bootstrap/scss/bootstrap';
@import 'components/Header.scss';
@import 'components/Hero.scss';
@import 'components/InvolvementCards.scss';
@import 'components/About.scss';
